<div class="main2">
  <div class="header">
    <div class="logo-details">
      <i class="bx bxl-graphql"></i>
      <span class="log_name"> COD manager </span>
    </div>
  </div>

  <div class="mid7">
    <div class="sidebar">
      <ul class="nav-links">
        <li>
          <div class="icon-link" (click)="usersSidebar()">
            <a>
              <i class="bx bx-user"></i>
              <span class="link_name"> Users </span>
            </a>
            <i class="bx bx-chevron-down"></i>
          </div>
          <ul class="sub-menu" *ngIf="usersSide">
            <li><a  routerLink="users" >list of users</a></li>
            <li><a routerLink="create-user">creat user</a></li>

          </ul>
        </li>
        <li>
          <div class="icon-link" (click)="productsSidebar()">
            <a>
              <i class="bx bx-cart"></i>
              <span class="link_name"> Products </span>
            </a>
            <i class="bx bx-chevron-down"></i>
          </div>
          <ul class="sub-menu" *ngIf="productsSide">
            <li><a routerLink="products">List of products</a></li>
            <li><a routerLink="create-product">Creat product</a></li>

          </ul>
        </li>
        <li>
          <div class="icon-link" (click)="agenciesSidebar()">
            <a>
              <i class="bx bx-package"></i>
              <span class="link_name"> Delivery Agencies </span>
            </a>
            <i class="bx bx-chevron-down"></i>
          </div>
          <ul class="sub-menu" *ngIf="agenciesSide">
            <li><a routerLink="agencies-list">List of delivery agnecies</a></li>
            <li><a routerLink="add-agency">Add delivery agency</a></li>

          </ul>
        </li>
      </ul>
    </div>
    <div class="mid2">
      <div class="navi my-1">
        <nav class="nav nav-tabs">
          <a
            href=""
            class="nav-link"
            routerLink="add-order"
            routerLinkActive="active"
          >
            Add
            <i class="bx bxs-add-to-queue"></i>
          </a>
          <a
            href=""
            class="nav-link"
            routerLink="in-confirmation"
            routerLinkActive="active"
          >
            In confirmation <span class="button__badge">{{inConfirmationCount}} </span>
          </a>
          <a
            href=""
            class="nav-link"
            routerLink="in-preparation"
            routerLinkActive="active"
          >
            In preparation <span class="button__badge">{{inPreparationCount}} </span>
          </a>
          <a
            href=""
            class="nav-link"
            routerLink="add-agency"
            routerLinkActive="active"
          >
            Dispatching <span class="button__badge">{{dispatchinCount}}</span>
          </a>
          <a
            href=""
            class="nav-link"
            routerLink="add-agency"
            routerLinkActive="active"
          >
            shipping <span class="button__badge">{{shippingCount}} </span>
          </a>
          <a
            href=""
            class="nav-link"
            routerLink="add-agency"
            routerLinkActive="active"
          >
            delivered <span class="button__badge">{{deliveredCount}} </span>
          </a>

          <a
            href=""
            class="nav-link"
            routerLink="add-agency"
            routerLinkActive="active"

          >

            returned <span class="button__badge">{{returnedCount}} </span>
          </a>

          <a
            href=""
            class="nav-link"
            routerLink="add-agency"
            routerLinkActive="active"
          >
            cancelled <span class="button__badge">{{cancelledCount}} </span>
          </a>
        </nav>
      </div>
      <div class="scrol">
        <div class="cont">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="containers">
      <span>All rights reserved 2023</span>
    </div>
  </div>
</div>
